/* Calendar styles */
.calendar {
    display: block;
    user-select: none;
    border: 1px dashed;
    overflow: hidden;
    width: fit-content;
}

.calendar-cell {
    float: left;
    width: 50px;
    height: 50px;
    display: table; /* for text vertical align */

    margin: 10px;
    border: 1px solid;
    cursor: pointer;
    user-select: none;
}

.calendar-cell.gray {
    background-color: gray;
    cursor: default;
}

.calendar-cell span {
    display: table-cell; /* for text vertical align */
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

/* Popup styles */
.popup {
    position: absolute;
    border: 1px solid red;
    background-color: #eceff1;
    z-index: 9999;
    visibility: hidden;

    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.popup .calendar-cell {
    border: 0;
    margin: 0;
    transition: margin 0.5s ease;
}

.popup .calendar-cell span {
    transition: font-size 0.5s ease;
}

.popup.open .calendar-cell {
    margin: 10px;
}

.popup.open .calendar-cell span {
    font-size: 42px;
}
