/* Calendar styles */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, auto);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;

    user-select: none;
    border: 1px dashed;
    overflow: hidden;
    width: fit-content;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.calendar-cell {
    width: 75px;
    height: 75px;
    display: table; /* for text vertical align */

    border: 1px solid;
    user-select: none;
}

.calendar-cell-container .progress {
    --speed: 0.2s;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: width var(--speed) ease, left var(--speed) ease;
    background-color: rgba(0, 255, 0, 0.4);
    z-index: -10;
}

.calendar-cell-container .progress.background {
    background-color: rgba(150, 150, 150, 0.4);
}

.calendar-cell.gray {
    background-color: gray;
    cursor: default;
}

.calendar-cell span {
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 22px;
}

.calendar-cell .doodle {
    display: block;
    position: absolute;
    left: 25px;
    bottom: 0px;
    z-index: -1;
    transition: left var(--open-duration) ease, bottom var(--open-duration) ease;
}
.calendar-cell .doodle img {
    width: 50px;
    transition: width var(--open-duration) ease;
}

/* Popup styles */
.modal-background {
    --open-duration: 0.4s;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(100, 100, 100, 0);
    transition: all var(--open-duration) ease;
}

.modal-background.popup-enter-done {
    background-color: rgba(100, 100, 100, 0.4);
}

.popup {
    --open-duration: 0.4s;
    --width: 800px;

    position: absolute;
    border: 1px solid red;
    background-color: #eceff1;
    z-index: 9999;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 19px 38px, rgba(0, 0, 0, 0) 0px 15px 12px;
    overflow: hidden;
    transition: all var(--open-duration) ease;
}

.popup-enter {
    visibility: visible;
}
.popup-enter-done {
    visibility: visible;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px,
        rgba(0, 0, 0, 0.32) 0px 15px 12px;
}
.popup-exit {
    visibility: visible;
}
.popup-exit-done {
    visibility: hidden;
}

.popup .calendar-cell {
    border: 0;
    margin: 0;
    transition: width var(--open-duration) ease,
        margin var(--open-duration) ease;
    float: none;
}

.popup .calendar-cell span {
    transition: font-size var(--open-duration) ease,
        margin var(--open-duration) ease;
}

.popup.popup-enter-done .calendar-cell span {
    margin: 0;
    margin-top: 3px;
    font-size: 50px;
}

.popup.popup-enter-done .calendar-cell {
    width: 0;
}

.popup.popup-enter-done .calendar-cell .doodle {
    bottom: 5px;
    left: 25px;
}
.popup.popup-enter-done .calendar-cell .doodle img {
    width: 150px;
}

/* Popup content */

.popup-grid {
    --margin: 30px;

    display: grid;
    grid-template-columns: [cleft] 75px [cmiddle] auto [cright] 150px;
    grid-template-areas:
        "number title title"
        "spacer spacer spacer"
        ". . ."
        "footer footer footer";
    align-items: end;
    justify-items: start;
    column-gap: 30px;
    row-gap: 10px;
    margin: 0;
    transition: margin var(--open-duration) ease;
    width: calc(var(--width) - var(--margin) * 2);
    font-size: 22px;
}
.popup.popup-enter-done .popup-grid {
    margin: var(--margin);
    width: calc(var(--width) - var(--margin) * 2);
}
.popup-enter-done .fade {
    opacity: 1;
}
.spacer {
    height: 0px;
}
.popup-number {
    grid-area: number;
    justify-self: center;
}
.popup-title {
    grid-area: title;
    font-size: 32px;
    justify-self: start;
    place-self: center stretch;
}
.popup-part-label {
    grid-column: cleft;
    justify-self: center;
}
.popup-part-result {
    grid-column: cmiddle;
}
.popup-part-performance {
    grid-column: cright;
    justify-self: end;
}
.popup-part-footer {
    grid-column: footer;
    display: inline-block;
    justify-self: end;
}

/* Buttons in popup */
.popup button {
    font-size: 18px;
    line-height: 20px;
    background-color: aqua;
    border: 1px gray solid;
    border-radius: 20px;
    padding: 12px 30px;
    margin-left: 5px;
    cursor: pointer;
}
.popup button:hover {
    border: 1px red solid;
}
.popup button.primary {
    background-color: greenyellow;
    width: 150px;
}
.popup button.cancel {
    background-color: orange;
}
.popup button.secondary {
    background-color: lightblue;
}

/* Collapsible extra buttons in popup (collapsed only on non-touch device) */
.collapsible {
    display: inline-block;
}
.no-touch .collapsible button {
    --open-duration: 0.25s;

    white-space: pre;
    display: inline-block;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -65px;

    overflow: hidden;
    transition: margin var(--open-duration) ease,
        width var(--open-duration) ease;
    text-align: center;
}
.no-touch .collapsible button > span {
    display: inline-block;
    margin-right: 10px;
    transition: margin var(--open-duration) ease;
}
.no-touch .popup-part-footer:hover .collapsible button {
    width: 120px;
    margin-right: 0;
    overflow: visible;
}
.no-touch .popup-part-footer:hover .collapsible button > span {
    margin-right: 0;
}

/* etc */

.fade {
    opacity: 0;
    transition: opacity var(--open-duration) ease;
}
