body {
    margin: 0;
    padding: 0;
    background: #eceff1;
}

.calendar {
    display: block;
    user-select: none;
    border: 1px dashed;
    overflow: hidden;
    width: fit-content;
}

.calendar .col,
.col2 {
    float: left;
    width: 50px;
    height: 50px;
    display: table; /* for text vertical align */

    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.calendar .col.gray {
    background-color: gray;
}

.calendar .col span,
.col2 span {
    display: table-cell; /* for text vertical align */
    text-align: center;
    vertical-align: middle;
}

.popup {
    position: absolute;
    border: 1px solid red;
    background-color: #eceff1;
    z-index: 9999;
    visibility: hidden;

    transition: all 0.5s ease;
}

.col2 {
    margin: 0;
    border: 0;
}

.col2 span {
    font-size: 16px;
    transition: font-size 0.5s ease;
}

.col2.big span {
    font-size: 42px;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
